/* * {
  margin: 0;
  padding: 0;
} */
.header {
  max-width: 120rem;
}
.heading-title {
  /* margin-left: 230px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.brand-name {
  font-size: 3rem;
  font-weight: bold;
}
header nav ul {
  display: flex;
  gap: 35px;
}
header nav ul {
  list-style: none;
}
header nav ul a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

.header {
  background-color: rgba(255, 144, 14, 0.1);
}
.banner .banner-content {
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.banner-content .title {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
}
.banner-content .p-tag {
  font-size: 1rem;
  color: #727272;
  margin-bottom: 32px;
}
.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 21px 24px 20px 25px;
  border-radius: 8px;
  border: none;
  margin-bottom: 50px;
}
.banner .header-img {
  width: 100%;
  margin: 0 auto;
}
.main .teams {
  margin-top: 5.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 73px;
  /* margin-left: 70px; */
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 18px;
}
.teams-img-container img {
  height: 332px;
  width: 323px;
}
.our-features #Quick {
  font-size: 2.8125rem;
  color: #727272;
}
.our-features #of-our-text {
  font-size: 2.8125rem;
  color: #131313;
}
.our-features #Features-text {
  font-size: 2.8125rem;
  color: #ff900e;
}
.h2 {
  margin-bottom: 24px;
}
.our-features p {
  font-size: 1.2rem;
  color: #727272;
}
.about-Features {
  margin-top: 82px;
  width: 95%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /* max-width: 1440px; */
}
.about-Features .content-text {
  margin-left: 140px;
}
.content-text .one .spanshit {
  border-left: 4px solid #ff900e;
  /* margin-right: 18px; */
  /* gap: 20px; */
}
.content-text .one .spanshit .Features-heading {
  margin-left: 20px;
  font-size: 2.125rem;
  margin-bottom: 24px;
}
.content-text .one-p-tag {
  color: #727272;
  margin-bottom: 30px;
}
.lets-flex-it .h2-same {
  font-size: 1.2rem;
  color: #131313;
  font-weight: 700;
}
.lets-flex-it .p-same {
  color: #727272;
}
.content-text .same {
  padding: 20px 3px 10px 20px;
  box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.img-section img {
  width: 90%;
  height: 100%;
}
.main .features-pt-two {
  /* width: 90%; */
  margin-left: 180px;
  margin-top: 120px;
}
.features-pt-two .textshit h2 {
  font-size: 2.81rem;
  font-weight: bold;
}
.textshit p {
  color: #727272;
}
.features-pt-two .flex-icons {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.flex-icons .icons-text {
  font-size: 2.81rem;
  color: #424242;
}

.flex-icons .icons-p-tag {
  font-size: 1.2rem;
  color: #727272;
  /* font-weight: 600; */
}
.box {
  height: 200px;
  width: 200px;
  line-height: 1px;
  border: 1.5px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 20px 10px 10px 10px;
}
.sponspors {
  margin-top: 180px;
  text-align: center;
  /* line-height: 15px; */
  /* display: flex;
  align-items: center; */
  /* margin: 0 auto; */
}
.sponspors .sponspors-text {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.sponspors .sponspors-text h2 {
  font-size: 2.8125rem;
  font-weight: bold;
  color: #131313;
  margin-bottom: 25px;
}
.sponspors-text p {
  color: #727272;
}
.sponspors-text {
  margin-bottom: 50px;
}
.flex-sponspors img {
  margin-left: 50px;
}
.footer {
  /* width: ; */
  /* width: 75%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-p-tag {
  font-size: 1.25rem;
  color: #424242;
  margin-top: 150px;
  background-color: #fff4e7;
  text-align: center;
  padding: 20px 180px;
  border-radius: 10px;
}
/* responsive media */
@media screen and (max-width: 576px) {
  /* nav-bar */
  .heading-title .brand-name {
    padding-top: 25px;
  }
  .heading-title {
    flex-direction: column;
    gap: 10px;
  }
  .nav-bar ul {
    flex-direction: column;
    font-size: 25px;
    gap: 25px;
  }
  .nav-bar ul a {
    font-size: 25px;
    font-weight: 400;
  }
  .banner-content .title {
    font-size: 2.5rem;
  }
  .banner-content .p-tag {
    font-size: 1.85rem;
    width: 90%;
  }

  /* doing responsive for the main section */
  .teams {
    flex-direction: column;
  }
  .teams-img-container {
    /* display: flex; */
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  .teams-img-container img {
    width: 100%;
    border-radius: 15px;
  }
  .our-features {
    text-align: center;
  }
  /* TODO:Have to ask the menthors to solve this problem */
  .about-Features {
    /* display: grid; */
    /* grid-template-columns: 100%; */
    text-align: center;
    /* margin-right: 50px; */
    display: flex;
    flex-direction: column;
    margin-left: -40px;
  }
  .about-Features .img-section {
    margin-top: 50px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* text-align: center; */
    margin-left: 70px;
  }
  /* TODO:Have to ask the menthors to solve this problem */
  .features-pt-two .textshit {
    margin-left: -95px;
    text-align: center;
  }

  .features-pt-two .flex-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .sponspors .flex-sponspors {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 30px;
  }
  .flex-sponspors img {
    /* height: 90%; */
    width: 70%;
    height: auto;
    padding-left: 70px;
  }
  .footer footer .footer-p-tag {
    width: auto;
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 578px) and (max-width: 1150px) {
  .header .heading-title {
    flex-direction: column;
  }
  .heading-title .nav-bar ul {
    flex-direction: column;
  }

  .banner-content .title {
    font-size: 2.555rem;
  }
  .banner-content .p-tag {
    font-size: 1.25rem;
    width: 100%;
  }
  .teams {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }
  .teams-img-container img {
    width: 500px;
    height: 500px;
    border-radius: 15px;
  }
  .our-features {
    text-align: center;
    /* font-size: 5rem; */
  }
  .our-features p {
    width: 100%;
  }
}
