/* @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */
/* * {
  margin: 0;
  padding: 0;
} */
.header {
  max-width: 120rem;
}
.heading-title {
  /* margin-left: 230px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.brand-name {
  font-size: 3rem;
  font-weight: bold;
}
header nav ul {
  display: flex;
  gap: 35px;
}
header nav ul {
  list-style: none;
}
header nav ul a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

.header {
  background-color: rgba(255, 144, 14, 0.1);
}
.banner .banner-content {
  max-width: 860px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.banner-content .title {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
}
.banner-content .p-tag {
  font-size: 1rem;
  color: #727272;
  margin-bottom: 32px;
}
.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 21px 24px 20px 25px;
  border-radius: 8px;
  border: none;
  margin-bottom: 50px;
}
.banner .header-img {
  width: 100%;
  margin: 0 auto;
}

/* responsive media */
@media screen and (max-width: 576px) {
  /* nav-bar */
  .heading-title .brand-name {
    padding-top: 25px;
  }
  .heading-title {
    flex-direction: column;
    gap: 10px;
  }
  .nav-bar ul {
    flex-direction: column;
    font-size: 25px;
    gap: 25px;
    /* text-align: center; */
  }
  .nav-bar ul a {
    font-size: 25px;
    font-weight: 400;
  }
  /* header-content */
  .banner-content .title {
    font-size: 2.5rem;
  }
  .banner-content .p-tag {
    font-size: 1.85rem;
    /* line-height: ; */
    width: 90%;
  }
  /* .header-img{

  } */
}
